@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;

  --color-primary: #6d7b75;
  --color-primary-light: #829b91;
  --color-bg-light: #f2f4f7;
  --color-bg-lighter: #f7f7f7;
  --color-accent: #ffc531;
  --color-text-secondary: #6c717b;
  --color-white: #ffffff;
  --color-text-medium: #475467;
  --color-text-dark: #101828;
  --color-border: #dadde1;
}

body {
  font-family: var(--font-sans);
}
